.card-img {
	max-width:100%;
	max-height:100%;
}


.focused-card-view {
	background-color:#000000;
}

.focused-card-div {
	transform:rotate(90deg);
	-moz-transform:rotate(90deg);
	-webkit-transform:rotate(90deg);
	-ms-transform:rotate(90deg);
	-o-transform:rotate(90deg);
}

.focused-card-img {
	/*display: table-cell;*/
	vertical-align: middle;
	max-width:100%;
	max-height:100%;
}

#card01 {
	display: table;
}

<!--Log in elements-->
#google a {
    border-radius: 5px;
    color: white;
    background: blue;
    font-size: larger;
    padding: 10px 20px;
}

#google a:active {
    background: darkblue;
}

#google p {
    word-wrap: break-word;
}

#fb a {
    border-radius: 5px;
    color: white;
    background: green;
    font-size: larger;
    padding: 10px 20px;
}

#fb a:active {
    background: darkgreen;
}

#fb p {
    word-wrap: break-word;
}
